@import url('../css/aos.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

body {
  margin: 0;
  /* overflow-x: hidden; */
  font-family: "Open Sans";
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


ul, ol, dl {
  /* margin-top: 0; */
  margin-bottom: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  float: left;
  padding-right: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.row {
  margin-top: 100px;
  margin-bottom: 150px;
}

.full-height {
  height: 900px;
  /* height: 100%; */
  /* background: red; */
}

.navbar {
  height: 84px;
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-nav {
  margin: 30px 0 0 400px;
  font-weight: 400;
  font-family: "Poppins";
}

.nav-link {
  padding: 0 20px;
}

.navbar-brand {
  font-weight: 700;
  /* font-family: "Titillium Web"; */
  position: relative;
  top: 15px;
  font-size: 1.7rem;
  margin-top: 4px;
  font-family: Poppins;
}

.navbar-brand .firstLetter {
  color: #fff;
  background: #008cff;
  padding: 0 8px 0 9px;
  border-radius: 50%;
  position: relative;
  right: -6.8px;
  z-index: -1;
}

.navbar-brand .otherLetters {
  letter-spacing: 0.6px;
  z-index: 3;
}

.hero-section1 {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 30px; */
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section1 .overlay-half-x {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  /* opacity: 0.1; */
  background: #3e82ff1c;
  z-index: -1;
  /* height: 452px; */
}

.info {
  display: flex;
  justify-content: center;
  /* position: relative; */
  margin: auto 0;
}

.intro {
  /* display: flex; */
  position: absolute;
  bottom: 400px;
  margin: auto 0;
  text-align: center;
}

.mouse {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
  z-index: 2;
}

.f-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}



/* Side Menu */

.hidden {
  display: none;
}

.nav-desktop {
  height: 200px;
  bottom: 0;
  width: 100%;
  /* position: fixed; */
  /* display: none; */
  /* background: #008cff; */
}

.nav-desktop a {
  display: block;
  padding: 4px 120px 4px 0;
  font-size: 19px;
  line-height: 39px;
  z-index: 2;
  transition: 0.3s
}

.nav-desktop-items {
  color: black;
  display: inline;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.svg-skill {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.circle-skill {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.svg-skill .circle-skill:nth-child(2) {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}

.skill1{stroke: #3e64ff;}
.skill2{stroke: #3e64ff;}
.skill3{stroke: #3e64ff;}

.page .heading {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e64ff;
}

.nav-mobile {
  height: 50px;
  /* height: 5.2vh; */
  background: #008cff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
}

.nav-mobile-items {
  display: none;
  color: white;
}


.menu-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 13px;
  transition: all 0.2s ease-out;
}

.btn-line {
  width: 36px;
  height: 4px;
  margin: 0 0 8px 0;
  background: rgb(41, 41, 41);
  transition: all 0.2s ease-out;
}

.menu-btn.close {
  transform: translate(0, 0);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(11px, 10.5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6.7px);
  /* transform: rotate(-45deg) translate(6px, -6.7px); */
}



.mouse-icon {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 auto;
  bottom: 0;
  background: #edf1ff;
  z-index: 1;

}

/* .mouse-wheel {
  -ms-transform: scale(0.4,0.4);
  transform: scale(0.4,0.4);
} */

#iconArrowCustom {
  transform: translate(1, 1);
}

.arrow-down-animated {
  position: relative;
  background: transparent !important;
  animation-name: arrowDownAnimation;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  transition: all;
}

@keyframes arrowDownAnimation {
  0% {
    top: -10px; right: -5px;
  }
  100% {
    top: 35px; right: -5px;
  }
}

/* .mouse-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #edf0ff;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.mouse-wheel {
  height: 70px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #3e64ff;
  font-size: 30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px; } 
}

@media (min-width: 768px) {
  .container {
    max-width: 720px; } 
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  } 
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .navbar-nav {
    margin: 30px 0 0 180px;
  }
}

@media (max-width: 1030px) {
  .navbar-nav {
    display: none;
  }
  .menu-btn {
    display: block;
    position: fixed;
    margin: auto 0 auto auto;
  }
  .nav-desktop, .nav-desktop-items { 
    display: none;
  }

  .nav-mobile, .nav-mobile-items {
    display: block;
    /* height: 94.8vh; */
  }
  .hero-section1 {
    /* height: 90.8vh; */
  }
}

/* @media (max-width: 1090px) {
  .navbar-nav {
    margin: 30px 0 0 300px;
  }
} */

